# Chair analysis for novelty, transience and resonance

**Problématique** : Avoir une mesure de la qualité de la délibération


- Est-ce que parler plus apporte plus de nouveauté ? : intervention des speakers par topics de chair
- Nouveauté/transience/résonance des topics au sein des chairs par interlocuteur

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os
path = os.getcwd()

In [9]:
df = pd.read_csv(path+'/lem_clean_version_8.csv', low_memory=True)

In [10]:
df.head()

,Unnamed: 0,index,Date,interlocutor_name,statement _size,statement,statement_number,chair_in_charge,score_academ,score_hostile,score_econo,score_virtue,score_vice,score_hawkish,score_posi,score_affi,score_uncert,lemmatized
0,0,0,1976-08-17,BURNS,41,ready start meeting morning first item busines...,statement_0,CHAIRMAN BURNS,0.0,0.04878,0.024390,0.048780,0.0,0.0,-1.0,1.0,-0.000000,ready start meeting morning item business act...
1,1,1,1976-08-17,HOLMES,2,statementsee appendix,statement_1,CHAIRMAN BURNS,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0,-0.000000,statementsee appendix
2,2,2,1976-08-17,BLACK,27,alan think realignment currencies european com...,statement_2,CHAIRMAN BURNS,0.0,0.00000,0.037037,0.037037,0.0,0.0,1.0,1.0,-0.000000,alan think realignment currency european comm...
3,3,3,1976-08-17,HOLMES,49,two alternatives one everybody goes floats sep...,statement_3,CHAIRMAN BURNS,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0,-1.0,-0.020408,alternative everybody go float separately sec...
4,4,4,1976-08-17,BLACK,8,think would likely,statement_4,CHAIRMAN BURNS,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0,-0.000000,think likely

((100, 1783), (1783,), (100, 1783))

(1683,)